body {
  overflow-x: hidden;
}
.row {
  margin-left: 20px;
  color: white;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__posters {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  white-space: nowrap; /* Prevent wrapping */
}

.row__posters::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}

.row__poster:hover {
  transform: scale(1.08);
  /* opacity: 1.2; */
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row__youtube {
  padding: "40px";
}
